<header>
  <nav>
    <div class="logo" (click)="navigateToLandingPage()">
      <img src="../assets/images/Frame.png" alt="" class="logo-img">
      <h1 class="logo-title">An Furniture</h1>
    </div>
    <div *ngIf="isSmallScreen else largeScreenMenu">
      <app-nav-menu></app-nav-menu>
    </div>
    <ng-template #largeScreenMenu>
      <div class="nav-buttons">
        <!-- <a href="" class="nav-links"></a> -->
        <a routerLink="/products" nz-button nzType="link" class="nav-links" [ngClass]="router.url === '/products'?'active-link':''">Products</a>
        <a routerLink="/services" nz-button nzType="link" class="nav-links" [ngClass]="router.url === '/services'?'active-link':''">Services</a>
        <a routerLink="/article" nz-button nzType="link" class="nav-links" [ngClass]="router.url === '/article'?'active-link':''">Article</a>
        <a routerLink="/about-us" nz-button nzType="link" class="nav-links" [ngClass]="router.url === '/about-us'?'active-link':''">About us</a>
      </div>
    </ng-template>
    <div class="user-icons">
      <span nz-icon nzType="shopping" nzTheme="outline"></span>
      <span nz-icon nzType="user" nzTheme="outline"></span>
    </div>
  </nav>

  <hr >
</header>

<router-outlet></router-outlet>


<footer>
  <hr>
  <div nz-row nzJustify="space-between" class="footer-content">
    <div class="left-footer">
      <div class="logo">
        <img src="../assets/images/Frame.png" height="42" width="42" alt="" class="footer-logo">
        <h1 class="footer-logo-title">An Furniture</h1>
      </div>
      <p class="footer-text">An Furniture is digital agency that help you make better experience.</p>
    </div>
    <div class="right-footer">
      <div class="info-column">
        <h4>Product</h4>
        <p>New Arrivals</p>
        <p>Best Selling</p>
        <p>Home Decor</p>
        <p>Kitchen Set</p>
      </div>
      <div class="info-column">
        <h4>Services</h4>
        <p>Catalog</p>
        <p>Blog</p>
        <p>FaQ</p>
        <p>Pricing</p>
      </div>
      <div class="info-column">
        <h4>Follow Us</h4>
        <p>Facebook</p>
        <p>Instagram</p>
        <p>Twitter</p>
      </div>
    </div>
  </div>
</footer>