/* You can add global styles to this file, and also import other style files */

:root{
    --main-color: #518581;
    --text-color: #151411;
    --secondary-color: #FFB23F;
    --paragraph-color: #AFADB5;
    --line-color: #F3F3F3;
}

h2{
    font-size: 44px;
    font-weight: bold;
    color: var(--text-color);
    line-height: 1.4;
}

h3{
    color: var(--text-color);
    font-size: 26px;
    font-weight: bold;
}

h5{
    color: var(--secondary-color);
    font-size: 18px;
    font-weight: bold;
}

h6{
    color: var(--text-color);
    font-size: 14px;
    font-weight: bold;
}