nz-card{
    width: 545px;
    height: 256px;
    margin-left: 25%;
}

.card-icon{
    width: auto;
    height: auto;
    margin: 22px;
}
.comment-container{
    max-width: 478px;
    margin-bottom: 26px;
    font-size: 18px;
    color: var(--paragraph-color);
}
.bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.customer{
    display: flex;
    align-items: center;
}

.avatar-img{
    border-radius: 50%;
    margin-right: 14px;
}
.customer-name{
    font-size: 20px;
    font-weight: bold;
}
.rating{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: bold;
}

.rating p{
    margin-bottom: 0;
    margin-left: 10px;
}