<div class="page-container">
    <app-page-heading
    heading="About Us"
    subheading="We display products based on the latest products we have, if you want
    to see our old products please enter the name of the item"
    ></app-page-heading>

    <img src="../../../assets/images/article-carousel1.png" width="100%" height="auto" alt="">

    <div nz-row nzJustify="space-between" class="mission">
        <div nz-col nzXl="12" class="left-content">
            <div class="heading">
                <h5>Our mission</h5>
                <h2>Our team dedicated to help find  smart home product</h2>
            </div>
            <div class="achievements">
                <app-achievement
                class="achievement"
                numberText='20+'
                title="Years Experience"
                ></app-achievement>
                
                <app-achievement
                class="achievement"
                numberText='483'
                title="Happy Client"
                ></app-achievement>

                <app-achievement
                class="achievement"
                numberText='150+'
                title="Project Finished"
                ></app-achievement>
            </div>
        </div>
        <div nz-col nzXl="11" class="right-content">
            <app-customer-service-card
            imgPath="../../assets/images/call-icon.png"
            class="customer-service-card"
            title="24/7 Supports"
            description="24/7 support means a support service that is provided 24 hours a day and 7 days a week."
            ></app-customer-service-card>

            <app-customer-service-card
            imgPath="../../assets/images/message-icon.png"
            class="customer-service-card"
            title="Free Consultation"
            description="The comprehensive guarantee is required for import, warehousing, transit, processing and specific use. "
            ></app-customer-service-card>

            <app-customer-service-card
            imgPath="../../assets/images/guarantee-icon.png"
            class="customer-service-card"
            title="Overall Guarantee"
            description="24/7 support means a support service that is provided 24 hours a day and 7 days a week."
            ></app-customer-service-card>
        </div>
    </div>

    <div class="team">
        <div nz-row nzJustify="space-between" class="team-heading">
            <div nz-col nzXl="11" class="left-team-heading">
                <h5>Our Team</h5>
                <h2>Meet our leading and strong team</h2>
            </div>
            <div nz-col nzXl="11" class="right-team-heading">
                <p class="paragraph">Pellentesque etiam blandit in tincidunt at donec. Eget ipsum dignissim placerat nisi, adipiscing mauris non purus parturient.</p>
            </div>
        </div>
        <div nz-row nzJustify="space-between" class="team-members">
            <div *ngFor="let teamMember of teamMembersData" class="team-member-card">
                <app-team-member-card
                nz-col nzXl="7"
                [name]="teamMember.name"
                [jobTitle]="teamMember.jobTitle"
                [imgPath]="teamMember.imgPath"
                ></app-team-member-card>
            </div>
        </div>
    </div>
</div>