<div class="page-container">
    <app-page-heading
    heading="About Us"
    subheading="We display products based on the latest products we have, if you want
    to see our old products please enter the name of the item"
    ></app-page-heading>

    <img src="../../../assets/images/article-carousel1.png" width="100%" height="auto" alt="">

    <div nz-row nzJustify="space-between" class="mission">
        <div nz-col nzXl="12" class="left-content">
            <div class="heading">
                <h5>Our mission</h5>
                <h2>Our team dedicated to help find  smart home product</h2>
            </div>
            <div class="achievements">
                <app-achievement
                class="achievement"
                numberText='20+'
                title="Years Experience"
                ></app-achievement>
                
                <app-achievement
                class="achievement"
                numberText='483'
                title="Happy Client"
                ></app-achievement>

                <app-achievement
                class="achievement"
                numberText='150+'
                title="Project Finished"
                ></app-achievement>
            </div>
        </div>
        <div nz-col nzXl="11" class="right-content"></div>
    </div>
</div>