h1{
    font-size: 64px;
    font-weight: bold;
    color: var(--text-color);
}

h2{
    font-size: 44px;
    font-weight: bold;
    color: var(--text-color);
}

.paragraph{
    font-size: 18px;
    font-weight:500;
    color: var(--paragraph-color);
}

.heading{
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}